##################################################
## PROJECT CONFIGURATION
#
CONFIG_IDF_TARGET_ESP32P4=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y

##################################################
## PSRAM
#
CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_SPEED_200M=y

##################################################
## FLASH CONFIGURATIOn
#
CONFIG_SPI_FLASH_SUPPORT_GD_CHIP=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

##################################################
## MQTT
#
MQTT_SKIP_PUBLISH_IF_DISCONNECTED=y

##################################################
## LOGGING
#
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_LOG_MAXIMUM_LEVEL_VERBOSE=y

##################################################
## CAMERA SENSOR
#
CONFIG_CAMERA_OV5647=y
CONFIG_CAMERA_OV5647_MIPI_IF_FORMAT_INDEX_DEFAULT=3
CAMERA_OV5647_MIPI_RAW10_1920X1080_30FPS=y

##################################################
## FULL FATFS SCAN
#
CONFIG_FATFS_DONT_TRUST_FREE_CLUSTER_CNT=1
CONFIG_FATFS_DONT_TRUST_LAST_ALLOC=1