menu "Provisioning configuration"

    config TEMPLATE_NAME
        string "The name of the Thing template to be used"
        default "cameraTemplate"
endmenu

menu "MQTT Worker configuration"
    
    config AWS_ENDPOINT
        string "The AWS endpoint to be used"
        default  ""
endmenu